*{
  margin: 0;
  padding: 0;
  border: none;
}

:root {
  --yellow: #ec9a29;
  --green: #419d78;
  --red: #ee7674;
  --blue: #26408b;
  --white: #ffffff;
}
  
body { background-color: var(--white); }

/* MAIN ARTICLE */

main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 10px;
  gap: 10px;
}

.articleitem {
  width: 100%;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
}