@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@300&family=Dosis:wght@300&family=Playfair+Display&family=Poppins:wght@200;300&display=swap');
*{
  margin: 0;
  padding: 0;
  border: none;
}

:root {
  --yellow: #ec9a29;
  --green: #419d78;
  --red: #ee7674;
  --blue: #26408b;
  --white: #ffffff;
}

/* MAIN ARTICLE */

body {
  height: 100vh;
  width: 100vw;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#background {
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: linear-gradient( var(--green), var(--blue));
  background-repeat: no-repeat;
}

h1 {
  position: relative;
  font-family: 'Poppins', sans-serif;
  font-size: 40px;
}

main {
  position: relative;
  aspect-ratio: 9/16;
  width: 18rem;
}

#console {
  margin-top:5%;
  padding: 10px; 
  height: 90%;
  font-family: 'Bitter', serif;
  overflow:auto;
  border: 1px solid black;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

#input {
  height: 5%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

}

#input input {
  resize: none;
  height: 100%;
  width: 80%;
  text-align: center;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}


#input button {
  width: 20%;
  height: 100%;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}