*{
  margin: 0;
  padding: 0;
  border: none;
}

:root {
  --yellow: #ec9a29;
  --green: #419d78;
  --red: #ee7674;
  --blue: #26408b;
  --white: #ffffff;
}
  
body { background-color: var(--white); }

/* MAIN ARTICLE */

body {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

main {
  aspect-ratio: 9/16;
  width: 20rem;
}

#console {
  border: 1px solid black;
  height: 100%;
}

#input {
  height: 10rem;
}

input {
  border: 1px solid red;
}