*{
  margin: 0;
  padding: 0;
}

:root {
  --yellow: #ec9a29;
  --green: #419d78;
  --red: #ee7674;
  --blue: #26408b;
  --white: #ffffff;
}
  
body { background-color: var(--white); }

/* MAIN ARTICLE */

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main {
  aspect-ratio: 9/16;
  width: 18rem;
}

#console {
  border: 1px solid black;
  height: 95%;
}

#input {
  height: 5%;
}

#input textarea {
  resize: none;
  height: 100%;
  width: 80%;
}