*{
  margin: 0;
  padding: 0;
  border: none;
}

:root {
  --yellow: #ec9a29;
  --green: #419d78;
  --red: #ee7674;
  --blue: #26408b;
  --white: #ffffff;
}

/* MAIN ARTICLE */

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient( var(--green), var(--blue));
  background-repeat: no-repeat;
}

main {
  aspect-ratio: 9/16;
  width: 20rem;
}

#console {
  border: 1px solid black;
  height: 100%;
}

#input {
  height: 10rem;
}

input {
  border: 1px solid red;
}