@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;800&display=swap');

/* farger */
:root {
    --varText: #061318;
    --varBackground: #d6ecf5;
    --varAccent: #c45b31;
  }
/* alle objekter */
*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* markert tekst */
::selection {
    background-color: var(--varAccent);
}

/* stilsetting */
body {
  height: 100vh;
  background-color: var(--varBackground);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  transition-duration: .3s;
}

main {
  background-color:var(--varAccent);
  background-image: radial-gradient(closest-side, transparent 98%, rgba(0,0,0,.3) 99%),
  radial-gradient(closest-side, transparent 98%, rgba(0,0,0,.3) 99%);
  background-size:80px 80px;
  background-position:0 0, 40px 40px;

  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 130vmin;
  padding: 10vmin;
  box-shadow: 0 0px 15px 3px var(--varText);
}

#progressBar {
  position: absolute;
  top: 0;
  background-color: var(--varBackground);
  height: 2vmin;
  width: 100%;
}

#progressBar #bar {
  background-color: var(--varAccent);
  height: 100%;
  width: 0;
  transition-duration: 0.5s;
}

.text {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: .5rem;
  border-radius: 5px;
  background-color: var(--varBackground);
  border: 3px solid var(--varAccent);
  color: var(--varText);
}

h1 {
  font-size: 1.6rem;
}

#quiz-container {
  display:flex;
  flex-direction: column;
  margin-top:4vh;
  align-items: center;
}

.option {
  position:relative;
  display:inline-flex;
  align-items:center;
  justify-content: center;
  margin:2vh;
  height:9vh;
  width:55vh;
  background-color: var(--varBackground);
  border-radius: 10px;
  box-shadow: 0 0px 5px 1px var(--varText);
  transition-duration: 0.3s;
  color: var(--varText);
}

.option h3{
  color:var(--varBackground);
  background-color:var(--varAccent);
  display:inline-flex;
  align-items:center;
  justify-content: center;
  position:absolute;
  left:2vh;
  width:30px;
  height:30px;
  border-radius: 100%;
}

.option:hover{
  background-color: var(--varBackground);
  box-shadow: 0 0px 10px 2px var(--varText);
  cursor:pointer;
  opacity: .9;
  scale: 1.05;
}

.option:active {
  scale: .7;
}

#questionsRight {
  margin: 5rem;
  width: 8rem;
  height: 8rem;
  background-color: var(--varAccent);
  color: var(--varBackground);
  border-radius: 50%;
  font-size: 2rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0px 5px 1px var(--varText);
  display: none;
}

#dropdownMenu {
  position:absolute;
  top:0;
  right: 0;
}

#menuButton {
  margin: 2rem;
  margin-bottom: 0;
  margin-top: 1.5rem;
  font-size: 2.5rem;
  background-color: var(--varBackground);
  border-radius: 50%;
  padding: .8rem;
}

#dropdown {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition-duration: .3s;
  opacity: 0;
  background-color: var(--varBackground);
  border-radius: 50%;
  padding: .5rem 1rem;
}

.button {
  margin: 1rem 2rem;
  font-size: 2rem;
  transition-duration: .2s;
  color: var(--varText);
}

.button:hover{
  scale: 1.1;
  cursor: pointer;
}

.button:active {
  scale: .7;
}


@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  main {
    width: 90%;
  }
  #quiz-container {
    width: 100%;
  }
  .option {
    width: 90%;
  }
}