@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;800&display=swap');

/* farger */
:root {
    --blue: #3AAFB9;
    --white: #ffffff;
    --black: #150128;
  }
/* alle objekter */
*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* markert tekst */
::selection {
    background-color: var(--blue);
}

/* scrollbar */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #3AAFB9bb;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--blue);
}

#buttons {
  display:flex;
  flex-direction: column;
  margin-top:20%;
  align-items: center;
}

.answer {
  margin:2vh;
  height:5vh;
  width:20vh;
}
