/* FONTS */
@import url("https://api.fontshare.com/v2/css?f[]=plus-jakarta-sans@400&f[]=gambetta@500&display=swap");

/* COLORS */

:root {
    /* #070F2B */
    --black: 7, 15, 43;
    /* #1B1A55 */
    --darkBlue: 27, 26, 85;
    /* #FBFAF5 */
    --white: 251, 250, 245;
    /* main variable for color */
    --accentMain: 24, 143, 167;
    /* #59A5D8 */
    --accentCSS: 89, 165, 216;
    /* #E2C346 */
    --accentJS: 226, 195, 70;
    /* #9395D3 */
    --accentPHP: 147, 149, 211;
    /* #188FA7 */
    --accentVSC: 24, 143, 167;
  }

/* DEFAULT OBJECTS - Same for every app */

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

::selection {
    background-color: rgba(var(--accentMain), .5);
}

/* scrollbar */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(var(--accentMain));
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(var(--accentMain), .7);
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Plus Jakarta Sans', 'Sans';
    background-color: rgb(var(--black));
    color: rgb(var(--white));
}

h1,
h2,
h3,
h4,
h5 {
    color: rgb(var(--white));
    font-family: 'Gambetta', 'Serif';

    width: fit-content;
}

h1 span,
h2 span,
h3 span,
h3 span,
h4 span,
h5 span {
    color: rgb(var(--accentMain));
    font-size: 130%;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-weight: 600;
    font-size: 1.9rem;
}

h3 {
    font-weight: 600;
    font-size: 1.7rem;
}

h3 {
    font-weight: 600;
    font-size: 1.6rem;
}

p {
    color: rgb(var(--white));
    font-size: 1.1rem;
}

p span {
    color: rgb(var(--accentMain));
    font-weight: 600;
}

/* SEMI-DEFAULT OBJECTS - Changes style, but is needed */

.invertedButton {
    display: block;
    color: rgb(var(--accentMain));
    text-decoration: none;
    font-weight: 800;
    font-size: .8rem;
    width: fit-content;
    border-radius: 5px;
    padding: .5rem 1rem;
    border: 2px solid rgb(var(--accentMain));
    transition-duration: .2s;
}

.invertedButton:hover {
    background-color: rgb(var(--accentMain));
    color: rgb(var(--black));
    scale: 1.08;
}

.button {
    display: block;
    background-color: rgb(var(--accentMain));
    color: rgb(var(--black));
    text-decoration: none;
    font-weight: 800;
    font-size: .8rem;
    width: fit-content;
    border-radius: 5px;
    margin: 0 2rem;
    padding: .5rem;
    transition-duration: .2s;
}

.button:hover {
    scale: 1.08;
}

/* CUSTOM OBJECTS - Varies from app to app */

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

nav {
    width: 100%;
    display: flex;
    padding: 0 1rem;
    justify-content: space-between;
    align-items: center;
}

nav a {
    width: 100%;
    text-decoration: none;
    padding: .5rem 0;
    display: flex;
    align-items: center;
    width: fit-content;
}

.navIcon {
    height: 2.5rem;
    font-size: 2.5rem;
    color: rgb(var(--darkBlue));
    margin: .5rem;
}

main {
    width: 100%;
    flex: 1;
    display: flex;
    background-color: rgb(var(--darkBlue));
}

.courses {
    height: 100%;
    width: 100%;
    background-color: rgb(var(--white));
    flex: 1;
}

.CodeMirror {
    flex: 1;
    height: 100%
}

iframe {
    flex: 1;
}

#courseNav {
    display: flex;
    width: 100%;
    padding: 1rem 1rem;
    display: flex;
    justify-content: end;
    position: relative;
}

#courseNav h4 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}