/* FONTS */
@import url("https://api.fontshare.com/v2/css?f[]=plus-jakarta-sans@400&f[]=gambetta@500&display=swap");

/* COLORS */

:root {
    /* #31333B */
    --black: 49, 51, 59;
    /* #34353A */
    --lightBlack: 52, 53, 58;
    /* #F9F9F9 */
    --white: 249, 249, 249;
    /* #5C80BC */
    --blue: 92, 128, 188;
  }

/* DEFAULT OBJECTS - Same for every app */

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

::selection {
    background-color: rgba(var(--blue), .5);
}

/* scrollbar */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(var(--blue));
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(var(--blue), .7);
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Satoshi', sans-serif;
    background-color: rgb(var(--black));
}

h1,
h2,
h3,
h4,
h5,
a,
p {
    color: rgb(var(--white));
    font-family: 'Sentient', serif;
    width: fit-content;
}

h1 span,
h2 span,
h3 span,
h3 span,
h4 span,
h5 span {
    color: rgb(var(--blue));
    font-size: 130%;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-weight: 600;
    font-size: 1.9rem;
}

h3 {
    font-weight: 600;
    font-size: 1.7rem;
}

p {
    color: rgb(var(--white));
    font-size: 1.1rem;
}

p span {
    color: rgb(var(--blue));
    font-weight: 600;
}

/* SEMI-DEFAULT OBJECTS - Changes style, but is needed */

.invertedButton {
    display: block;
    color: rgb(var(--blue));
    text-decoration: none;
    font-weight: 800;
    width: fit-content;
    border-radius: 5px;
    padding: .5rem 1rem;
    margin-top: 1rem;
    border: 2px solid rgb(var(--blue));
    transition-duration: .2s;
}

.invertedButton:hover {
    background-color: rgb(var(--blue));
    color: rgb(var(--black));
    scale: 1.08;
}

.button {
    display: block;
    background-color: rgb(var(--blue));
    color: rgb(var(--black));
    text-decoration: none;
    font-weight: 800;
    font-size: .9rem;
    width: fit-content;
    border-radius: 10px;
    padding: .5rem;
    margin-top: 1rem;
    transition-duration: .2s;
}

.button:hover {
    scale: 1.08;
}

/* CUSTOM OBJECTS - Varies from app to app */

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

nav {
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    width: 100%;
    text-decoration: none;
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: aqua;
}

.navIcon {
    height: 3rem;
    font-size: 3rem;
}

main {
    width: 100%;
    flex: 1;
}

.course,
.module {
    width: 100%;
    height: 100%;
}

.module {
    display: flex;
}

.instructions {
    height: 100%;
    width: 30%;
    background-color: blueviolet;
}

.testArea {
    height: 100%;
    width: 70%;
}

.testArea textarea,
.testArea iframe {
    height: 100%;
    width: 50%;
}

.testArea textarea,
.testArea iframe {
    height: 100%;
    width: 50%;
}