/* FONTS */
@import url("https://api.fontshare.com/v2/css?f[]=plus-jakarta-sans@400&f[]=gambetta@500&display=swap");

/* COLORS */

:root {
  --primaryMain: 21, 20, 31;
  --secondaryMain: 246, 245, 240;
  --tetriaryMain: 30, 30, 54;
  /* #1B1A55 */
  --black: 21, 20, 31;
  /* #FBFAF5 */
  --white: 246, 245, 240;
  /* #747274 */
  --lightBlack: 30, 30, 54;
  /* ##D0D0D0 */
  --blackWhite: 208, 208, 208;
  /* main variable for color */
  --accentMain: 24, 143, 167;
  /* #59A5D8 */
  --accentCSS: 89, 165, 216;
  /* #E2C346 */
  --accentJS: 226, 195, 70;
  /* #9395D3 */
  --accentPHP: 147, 149, 211;
  /* #188FA7 */
  --accentVSC: 24, 143, 167;
}

/* DEFAULT OBJECTS - Same for every app */

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

::selection {
  background-color: rgba(var(--accentMain), 0.5);
}

/* scrollbar */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(var(--accentMain));
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(var(--accentMain), 0.7);
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Plus Jakarta Sans", "Sans";
  background-color: rgb(var(--primaryMain));
  color: rgb(var(--white));
  transition-duration: 0.2s;
}

h1,
h2,
h3,
h4,
h5 {
  color: rgb(var(--secondaryMain));
  width: fit-content;
  margin: 1rem 0;
  margin-top: 2rem;
}

h1 span,
h2 span,
h3 span,
h3 span,
h4 span,
h5 span {
  color: rgb(var(--accentMain));
}

h1 {
  font-size: 2rem;
}

h2 {
  font-weight: 600;
  font-size: 1.9rem;
}

h3 {
  font-weight: 600;
  font-size: 1.7rem;
}

h4 {
  font-weight: 600;
  font-size: 1.35rem;
}

h5 {
  font-weight: 500;
  font-size: 1.2rem;
}

p {
  color: rgb(var(--secondaryMain));
  font-size: 1rem;
  margin: 1.2rem 0;
  line-height: 1.55rem;
}

p span {
  color: rgb(var(--accentMain));
  font-weight: 600;
}

figcaption {
  color: rgb(var(--secondaryMain));
  font-size: 0.8rem;
}

video {
  width: 100%;
  padding: 2rem;
}

.invertedButton {
  display: block;
  height: fit-content;
  cursor: pointer;
  color: rgb(var(--accentMain));
  text-decoration: none;
  font-weight: 800;
  font-size: 0.8rem;
  width: fit-content;
  border-radius: 5px;
  padding: 0.25rem 0.5rem;
  border: 2px solid rgb(var(--accentMain));
  transition-duration: 0.2s;
}

.invertedButton ion-icon {
  font-size: 1.5rem;
}

.invertedButton:hover {
  scale: 1.08;
  background-color: rgb(var(--accentMain));
  color: rgb(var(--black));
}

.button {
  display: block;
  height: fit-content;
  cursor: pointer;
  color: rgb(var(--accentMain));
  text-decoration: none;
  font-weight: 800;
  font-size: 0.8rem;
  width: fit-content;
  border-radius: 5px;
  padding: 0.25rem 0.5rem;
  border: 2px solid rgb(var(--accentMain));
  transition-duration: 0.2s;
  background-color: rgb(var(--accentMain));
  color: rgb(var(--black));
  transition-duration: 0.2s;
}

.button ion-icon {
  font-size: 1.5rem;
}

.button:hover {
  scale: 1.08;
}

/* CUSTOM OBJECTS - Varies from app to app */

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

nav {
  width: 100%;
  position: fixed;
  display: flex;
  padding: 0 1rem;
  height: 5rem;
  justify-content: space-between;
  align-items: center;
  border-bottom: 4px solid rgb(var(--accentMain));
  background-color: rgb(var(--primaryMain));
  z-index: 1;
}

nav a {
  width: 100%;
  text-decoration: none;
  padding: 0.5rem 0;
  display: flex;
  align-items: center;
  width: fit-content;
  cursor: pointer;
}

nav a p {
  font-size: 1.2rem;
}

.navIcon {
  height: 2.5rem;
  width: 2.5rem;
  font-size: 2.5rem;
  color: rgb(var(--secondaryMain));
  fill: rgb(var(--secondaryMain));
  margin: 0.5rem;
  transition-duration: 0.2s;
}

#menuIcon {
  position: relative;
  margin-left: 1rem;
  transition-duration: 0.5s;
}

#settingsIcon {
  position: relative;
  margin-right: 1rem;
  transition-duration: 0.5s;
}

#toggleMode {
  transition-duration: 0.5s;
}

#logo {
  cursor: auto;
}

#vsc:hover * .navIcon,
#vsc.active * .navIcon {
  fill: rgb(var(--accentVSC)) !important;
}

#css:hover > .navIcon,
#css.active > .navIcon {
  fill: rgb(var(--accentCSS));
}

#js.active > .navIcon,
#js:hover > .navIcon {
  fill: rgb(var(--accentJS));
}

#php.active > .navIcon,
#php:hover > .navIcon {
  fill: rgb(var(--accentPHP));
}

main {
  margin-top: 5rem;
  width: 100%;
  height: 100%;
  display: flex;
  overflow-y: hidden;
}

#lessons {
  height: 100%;
  width: 20%;
  background-color: rgb(var(--tetriaryMain));
  border-right: 1px solid rgba(var(--secondaryMain), 0.3);
  transition-duration: 0.4s;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

#lessonList {
  width: 100%;
  height: 100%;
  padding: 1rem;
  padding-top: 0;
}

#lessonList h5 {
  font-size: 1rem;
  margin: 1rem 0;
}

#lessonList h5:after {
  display: block;
  content: "";
  border-bottom: solid 3px #019fb6;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
  transform-origin: 0% 100%;
}

#lessonList h5.active:after {
  transform: scaleX(1);
}

#courseWrapper {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  overflow-y: auto;
  flex-direction: column;
  transition-duration: 0.4s;
}

.courses {
  width: 100%;
  flex: 1;
  padding: 0 1rem;
  hyphens: auto;
  max-width: 1000px;
}

.lesson {
  display: none;
}

figure {
  width: 30%;
  float: right;
  padding: 1rem;
  position: relative;
}
figure.landscape {
  width: 60%;
}

figure img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  box-shadow: 0 0 6px 2px rgba(var(--black), 0.4);
}

.lesson p {
  margin: 1.5rem 0;
}

#courseNav {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

#courseNav h4 {
  position: relative;
  margin: 0 1rem;
}

#settingsBar {
  position: absolute;
  top: 55px;
  right: 40px;
  background-color: rgb(var(--tetriaryMain));
  box-shadow: 0 0 7px 1px rgba(var(--black), 0.3);
  padding: 0.5rem;
  border-radius: 5px;
  border: 1.5px solid rgb(var(--secondaryMain));
  transition-duration: 0.2s;
  opacity: 0;
  z-index: 1;
}

#settingsBar a {
  color: rgb(var(--secondaryMain));
  display: flex;
  align-items: center;
  cursor: pointer;
}

#settingsBar a ion-icon {
  margin: 0.5rem;
  font-size: 1.2rem;
}

@media only screen and (max-width: 768px) {
  body {
    flex-direction: column-reverse;
  }
  main {
    margin-top: 0;
  }

  .courseButton p {
    display: none;
  }

  nav {
    padding: 0 0rem;
  }

  .navIcon {
    height: 2rem;
    width: 2rem;
  }

  figure,
  figure.landscape {
    width: 100%;
    max-height: 50vh;
  }

  figure img {
    max-height: 40vh;
    width: 100%;
  }

  #lessons {
    flex-direction: column-reverse;
  }

  #courseNav {
    padding-bottom: 6rem;
  }

  #settingsBar {
    top: -80px;
    right: 40px;
  }
}
